.App {
  text-align: center;
  display: flex;
  height: 100vh;
  background: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: white;
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
}

p {
  color: white;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}
